dotfiles/bin/chromedriver
dotfiles/bin/breaks
dotfiles/bin/inko

dotfiles/.config/fish/fishd.*
dotfiles/.config/fish/private.fish
dotfiles/.config/fish/fish_history
dotfiles/.config/fish/fish_variables
dotfiles/.config/git/local

dotfiles/.config/nvim/spell
dotfiles/.config/nvim/.netrwhist
dotfiles/.config/irb/irb_history

dotfiles/.local/share/nvim
dotfiles/.local/share/fish
dotfiles/.local/share/applications/mimeinfo.cache
dotfiles/.config/systemd/user/*.target.wants/
dotfiles/.config/systemd/user/breaks.service

dotfiles/.cargo/*
!dotfiles/.cargo/config.toml

dotfiles/.config/beets/state.pickle
