[user]
    name  = Yorick Peterse
    email = yorickpeterse@gmail.com
    signingkey = EB691AC9

[diff]
    color = auto

[branch]
    color = auto

[core]
    autocrlf     = input
    filemode     = false
    excludesfile = /home/yorickpeterse/.gitignore_global
    ignorecase   = false
    editor       = nvim
    pager        = /usr/share/git/diff-highlight/diff-highlight | less -RS

[github]
    user = yorickpeterse

[color]
    ui = true

[mergetool "fugitive"]
    cmd = nvim -c \"Gdiff\" \"$MERGED\"

[merge]
    tool = fugitive
    prompt = false

[alias]
    today = log --since=\"1 day ago\" --author=\"Yorick Peterse\" --pretty=oneline

[push]
    default = simple

[commit]
    gpgsign = true
