dotfiles/bin/chromedriver
dotfiles/bin/breaks

dotfiles/.config/fish/fishd.*
dotfiles/.config/fish/private.fish
dotfiles/.config/fish/fish_history
dotfiles/.config/fish/fish_variables

dotfiles/.config/nvim/spell
dotfiles/.config/nvim/.netrwhist
dotfiles/.pry/themes/*.prytheme.rb
!dotfiles/.pry/themes/paper.prytheme.rb
