dotfiles/.config/nvim/plugged
dotfiles/bin/chromedriver
dotfiles/bin/breaks

dotfiles/.config/fish/fishd.*
dotfiles/.config/fish/private.fish
dotfiles/.config/fish/fish_history
dotfiles/.config/fish/fish_variables

dotfiles/.config/nvim/spell
dotfiles/.config/nvim/.netrwhist
