# Collection of Coffeescript snippets.
snippet @param Inserts a YARD style parameter tag.
	@param [${1:type}] ${2:name} ${3:description}
snippet @return Inserts a YARD style return tag.
	@return [${1:type}]
