# ============================================================================
# CSS SNIPPETS
#
# Various snippets for dealing with CSS files.
#
snippet ie_gradient Inserts a gradient for Internet Explorer
	filter: progid:DXImageTransform.Microsoft.gradient(
		startColorStr='${1:start}',
		EndColorStr='${2:end}'
	);
