[Desktop Entry]
Name=Development Terminal
Category=Distrobox;System;Utility"
Exec=/var/home/yorickpeterse/bin/dev-terminal
Icon=com.mitchellh.ghostty
Keywords=dev;
NoDisplay=false
Terminal=false
TryExec=/usr/bin/distrobox
Type=Application
