[Desktop Entry]
Name=Neovim
GenericName=Text Editor
Comment=Edit text files
Exec=/home/yorickpeterse/bin/nvim-konsole %F
TryExec=/home/yorickpeterse/bin/nvim-konsole
Icon=nvim
Terminal=false
StartupNotify=false
Type=Application
Keywords=Text;editor;nvim
Categories=Utility;TextEditor;
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
