[Desktop Entry]
Name=Password Menu
Comment=Password menu using Rofi
Exec=/home/yorickpeterse/bin/password-menu
Icon=password
Type=Application
Terminal=false
Categories=Utility
