[Desktop Entry]
Name=Plasticity
Comment=Plasticity: CAD for artists
GenericName=Plasticity
Exec=toolbox run --container=fedora Plasticity %U
Icon=Plasticity
Type=Application
StartupNotify=true
Categories=Graphics;
MimeType=application/x-plasticity;model/obj;model/stl;model/step;model/iges;application/x-3dm;
