[Unit]
Description=Run weekly screenshots removal
Requires=screenshots.service

[Timer]
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
