/**
 * ${1:Description}
 *
 * @author    Yorick Peterse, Isset Internet Professionals
 * @link      http://isset.nl/
 * @copyright Isset Internet Professionals, `system('date +%Y')`
 * @since     `system('date +%Y-%m-%d')`
 */
