configuration {
    modi: "window,run,drun,combi";
    font: "Noto Sans 10";
    dpi: 192;
    theme: "custom";
    show-icons: true;
    icon-theme: "Papirus";
    kb-remove-char-back: "BackSpace";
    kb-accept-entry: "Return";
    kb-row-up: "Up,ISO_Left_Tab";
    kb-row-down: "Down,Control+j";
    kb-mode-previous: "Control+h";
    kb-remove-to-eol: "";
    kb-cancel: "Escape,Control+q";
}
