<?php if ( !defined('BASEPATH') ) exit('No direct script access');

/**
 *
 * @author    Yorick Peterse, Isset Internet Professionals
 * @copyright Isset Internet Professionals, 2011
 * @link      http://isset.nl/
 * @since     ${1:date}
 */
class ${2:model} extends ${3:base_model}
{
	/**
	 * Creates a new instance of the model.
	 *
	 * @author Yorick Peterse
	 * @since  ${4:date}
	 * @access public
	 */
	public function __construct()
	{
		parent::__construct();
	}
}
